body {
  padding-top:50px
}
body>.navbar {
  -webkit-transition:background-color .3s ease-in;
  transition:background-color .3s ease-in
}
@media (min-width:768px) {
  body>.navbar-transparent {
    background-color:transparent
  }
  body>.navbar-transparent .navbar-nav>.open>a {
    background-color:transparent!important
  }
}#home {
   padding-top:0
 }
#home .navbar-brand {
  padding:13.5px 15px 12.5px
}
#home .navbar-brand>img {
  display:inline;
  margin:0 10px;
  height:100%
}
#banner {
  min-height:300px;
  border-bottom:none
}
.table-of-contents {
  margin-top:1em
}
.page-header h1 {
  font-size:4em
}
.bs-docs-section {
  margin-top:6em
}
.bs-docs-section h1 {
  padding-top:100px
}
.bs-component {
  position:relative
}
.bs-component .modal {
  position:relative;
  top:auto;
  right:auto;
  left:auto;
  bottom:auto;
  z-index:1;
  display:block
}
.bs-component .modal-dialog {
  width:90%
}
.bs-component .popover {
  position:relative;
  display:inline-block;
  width:220px;
  margin:20px
}
#source-button {
  position:absolute;
  top:0;
  right:0;
  z-index:100;
  font-weight:700
}
.nav-tabs {
  margin-bottom:15px
}
.progress {
  margin-bottom:10px
}
footer {
  margin:5em 0
}
footer li {
  float:left;
  margin-right:1.5em;
  margin-bottom:1.5em
}
footer p {
  clear:left;
  margin-bottom:0
}
.splash {
  padding:9em 0 2em;
  background-color:#141d27;
  background-image:url(../img/bg.jpg);
  background-size:cover;
  background-attachment:fixed;
  color:#fff;
  text-align:center
}
.splash .logo {
  width:160px
}
.splash h1 {
  font-size:3em
}
.splash #social {
  margin:2em 0
}
.splash .alert {
  margin:2em 0
}
.section-tout {
  padding:4em 0 3em;
  border-bottom:1px solid rgba(0,0,0,.05);
  background-color:#eaf1f1
}
.section-tout .fa {
  margin-right:.5em
}
.section-tout p {
  margin-bottom:3em
}
.section-preview {
  padding:4em 0 4em
}
.section-preview .preview {
  margin-bottom:4em;
  background-color:#eaf1f1
}
.section-preview .preview .image {
  position:relative
}
.section-preview .preview .image:before {
  box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  content:"";
  pointer-events:none
}
.section-preview .preview .options {
  padding:1em 2em 2em;
  border:1px solid rgba(0,0,0,.05);
  border-top:none;
  text-align:center
}
.section-preview .preview .options p {
  margin-bottom:2em
}
.section-preview .dropdown-menu {
  text-align:left
}
.section-preview .lead {
  margin-bottom:2em
}
@media (max-width:767px) {
  .section-preview .image img {
    width:100%
  }
}.sponsor #carbonads {
   max-width:240px;
   margin:0 auto
 }
.sponsor .carbon-text {
  display:block;
  margin-top:1em;
  font-size:12px
}
.sponsor .carbon-poweredby {
  float:right;
  margin-top:1em;
  font-size:10px
}
@media (max-width:767px) {
  .splash {
    padding-top:4em
  }
  .splash .logo {
    width:100px
  }
  .splash h1 {
    font-size:2em
  }
  #banner {
    margin-bottom:2em;
    text-align:center
  }
}

.list-group-item{
  padding-bottom: 8px;
}

/*.list-group-item.active, .list-group-item:hover, .list-group-item:focus {*/
  /*z-index: 2;*/
  /*color: #ffffff;*/
  /*background-color: #df691a;*/
  /*border-color: #df691a;*/
/*}*/
.list-group-item {
    margin-top: 10px;
}
.thumbnails{
  list-style: none;
  padding: 0;
  margin: 0 0 10px 25px;
  display: block;
  float: left;
  width: 100%;
  /*max-height:300px;*/
}
.thumbnails li{
  z-index: 5;
}
.thumbnails .addImageBtn{
  border: 1px solid gray;
  box-shadow: 2px 2px 2px rgba(31, 31, 31, 0.21);
  cursor: pointer;
}
.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(140, 151, 160, 0.6);
  left: 0;
  top: 0;
}
.sk-folding-cube {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  width: 60px;
  height: 60px;
  /*position: fixed;*/
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg); }
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#5feb80;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg); }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg); }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg); }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; }
  }
.mask p{
  position: absolute;
  top: 50%;
  margin: 60px 0 0 -0px;
  font-size: 16px;
  color: rgb(235, 235, 235);
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.cusPosition{
  float: left;
  margin: 0;
}
.cusPosition li{
  float:left;
}
